<nav class="navbar bg-primary navbar-inverse navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="home">Vietloka</a>

    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About us</a>
        </li>
      </ul>
      <form class="form-inline">
          <button class="btn btn-success" *ngIf="!signedIn && checked" routerLink="login">Log in</button>        
      </form>
      <ul class="navbar-nav ml-2">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!signedIn && checked" routerLink="register">Register</a>
          <a class="nav-link" *ngIf="signedIn && checked" routerLink="me">My profile</a>
          
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet>
</router-outlet>
