<nav class="navbar bg-primary navbar-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="home">Vietloka</a>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
      <input class="form-control mr-sm-2" type="email" placeholder="Email" formControlName="email">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" formControlName="password">        
      <button class="btn btn-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Log in</button>
    </form>
    <ul class="navbar-nav ml-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet>
</router-outlet>
