<!-- Component for a host profile page, for guests to check on host profile -->

<div class="container mt-4">


  <div class="card">
    <div class="card-block">
      <div class="card-text text-center">

        <!-- Title -->
        <h1>Host profile</h1>

        <!-- <Warning if users do not have permission to view this profile -->
        <p *ngIf="!isLoggedIn" class="form-text text-muted">
          Please <a routerLink="/login">log into Vietloka</a>
          or <a routerLink="/register">register an account</a> to use this feature.
        </p>
        <p *ngIf="isLoggedIn && !isGuest" class="form-text text-muted">
          Your account is not verified. <a routerLink="/verify">Verify</a> your account to become a guest.
        </p>

        <img *ngIf="host?.user.picture && isGuest" [src]="host?.user.picture" class="img-thumbnail rounded-circle">

        <!-- Profile tabs -->
        <div class="row" *ngIf="isGuest">
          <ngb-tabset class="mx-auto mt-3">

            <!-- Host information -->
            <ngb-tab title="Host Profile">
              <ng-template ngbTabContent>
                <div>
                  <br>
                  <p>Name: {{host?.user.name}}</p>
                  <!-- <p>Email: {{host?.user.email}}</p> -->
                  <p>Gender: {{host?.gender}}</p>
                  <p>Job: {{host?.job}}</p>
                  <p>Place of Work: {{host?.placeOfWork}}</p>
                  <!-- <p>Phone: {{host?.user.phoneNumber}}</p>
                  <p>ID: {{host?.user.identityNumber}}</p> -->
                  <p>Birthday: {{host?.dateOfBirth}}</p>
                </div>
              </ng-template>
            </ngb-tab>

            <!-- List of hosts's houses -->
            <ngb-tab title="Host's Houses">
              <ng-template ngbTabContent>
                <br>
                <div *ngFor="let h of houses">
                  <a routerLink="/house/{{h.id}}">{{h.title | uppercase}} at {{h.address}}</a>
                </div>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>

        <!-- For guests who want to contact hosts -->
        <!-- <button class="btn btn-info mt-2" (click)="mail()">Mail</button> -->
      </div>
    </div>
  </div>
</div>
