<!-- Component for houses page -->

<div class="container mt-3" *ngIf="!!house">

  <!-- House images -->
  <ngb-carousel *ngIf="house.image.length > 0 && house.image[0] != ''" style="background: black">
    <ng-template ngbSlide *ngFor="let slide of house.image">
      <img [src]="trustResource(slide)" height="500px" class="mx-auto">
    </ng-template>
  </ngb-carousel>

  <div class="mt-3"></div>

  <div class="hidden-md-up" *ngIf="!(isLoggedIn && isHost && !isGuest)">

    <!-- Check if users logged in to use rent feature -->
    <div class="row">
      <button type="button" class="btn btn-success btn-lg mx-auto"
        *ngIf = "!(!!currentRent)"
        [disabled]="!isLoggedIn || !isGuest || checkOwner() || hasRequest"
        (click)="doStay()">Stay at this place</button>
    </div>
    <p *ngIf="!isLoggedIn" class="form-text text-muted">
      Please <a routerLink="/login">log into Vietloka</a>
      or <a routerLink="/register">register an account</a> to use this feature.
    </p>
    <p *ngIf="isLoggedIn && !isGuest" class="form-text text-muted">
      Your account is not verified. <a routerLink="/verify">Verify</a> your account to become a guest.
    </p>
    <div class="row" *ngIf="!!currentRent">
      <button type="button" class="btn btn-danger btn-lg mx-auto"
        [disabled]="!isLoggedIn || !isGuest || isLeaving"
        (click)="finishStay()">Leave</button>
    </div>
    <ngb-alert type="danger" *ngIf="rentNetworkError"
      [dismissible]="true" (close)="rentNetworkError = false">
      An error has occurred. Please try again.
    </ngb-alert>
    <br>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>{{house.title}}</h2>
      <p class="lead">{{house.address}}
        <a href="http://maps.google.com/?q={{house.map.lat}},{{house.map.lng}}" target="_blank">(View on Google Maps)</a>
      </p>
      <p>{{house.description}}</p>

      <hr>

      <!-- House information -->
      <h3>About this place</h3>
      <ul class="list-unstyled">
        <li>Price: {{house.price}} VND per day</li>
        <li>Area: {{house.area}} sqm</li>
        <li>Number of guests: {{house.numOfTotalSlots}}</li>
        <li>Children: <span *ngIf="house.hasChildren">Yes</span><span *ngIf="!house.hasChildren">No</span></li>
        <li>Elderly people: <span *ngIf="house.hasOlders">Yes</span><span *ngIf="!house.hasOlders">No</span></li>
      </ul>

      <hr>

      <!-- See if the house has these conveniences -->
      <h4>Conveniences</h4>
      <ul class="list-unstyled">
        <li><span *ngIf="house.hasElectricHeater" class="text-success"><b>✓</b> water heater</span>
            <span *ngIf="!house.hasElectricHeater" class="text-danger"><b>✗</b>  water heater</span>
        </li>
        <li><span *ngIf="house.hasWashingMachine" class="text-success"><b>✓</b> washing machine</span>
            <span *ngIf="!house.hasWashingMachine" class="text-danger"><b>✗</b> washing machine</span>
        </li>
        <li><span *ngIf="house.hasTV" class="text-success"><b>✓</b> television</span>
            <span *ngIf="!house.hasTV" class="text-danger"><b>✗</b> television</span>
        </li>
        <li><span *ngIf="house.hasInternet" class="text-success"><b>✓</b> internet</span>
            <span *ngIf="!house.hasInternet" class="text-danger"><b>✗</b> internet</span>
        </li>
        <li><span *ngIf="house.hasCarPark" class="text-success"><b>✓</b> car park</span>
            <span *ngIf="!house.hasCarPark" class="text-danger"><b>✗</b> car park</span>
        </li>
        <li><span *ngIf="house.WC != 'None'" class="text-success"><b>✓</b> toilet <span *ngIf="house.WC=='Squat'">(squat)</span><span *ngIf="house.WC=='Western'">(Western)</span></span>
            <span *ngIf="house.WC == 'None'" class="text-danger"><b>✗</b> toilet</span>
        </li>
      </ul>
    </div>

    <!-- Check if users have permission to rent -->
    <div class="col-md-6">
      <div class="hidden-sm-down" *ngIf="!(isLoggedIn && isHost && !isGuest)">
        <div class="row" *ngIf="!(!!currentRent)">
          <button type="button" class="btn btn-success btn-lg mx-auto"
            [disabled]="!isLoggedIn || !isGuest || checkOwner() || hasRequest"
            (click)="doStay()">Stay at this place</button>
        </div>
        <p *ngIf="!isLoggedIn" class="form-text text-muted">
          Please <a routerLink="/login">log into Vietloka</a>
          or <a routerLink="/register">register an account</a> to use this feature.
        </p>
        <p *ngIf="isLoggedIn && !isGuest" class="form-text text-muted">
          Your account is not verified. <a routerLink="/verify">Verify</a> your account to become a guest.
        </p>
        <div class="row">
          <button type="button" class="btn btn-danger btn-lg mx-auto"
            *ngIf="!!currentRent"
            [disabled]="!isLoggedIn || !isGuest || isLeaving"
            (click)="finishStay()">Leave</button>
        </div>
        <ngb-alert type="danger" *ngIf="rentNetworkError"
          [dismissible]="true" (close)="rentNetworkError = false">
          An error has occurred. Please try again.
        </ngb-alert>
      </div>
      <hr>

      <!-- Host information -->
      <div>
        <h4 class="text-center">About the host</h4>
        <p class="text-center"><img *ngIf="house.owner.picture" [src]="house.owner.picture" class="img-thumbnail rounded-circle"></p>
        <p class="lead text-center">
          <a routerLink="/host/{{house.owner.id}}">{{house.owner.name}}</a>
        </p>
        <p class="text-center"><a href="mailto:{{house.owner.email}}">✉ {{house.owner.email}}</a></p>
      </div>
    </div>
  </div>

  <!-- Reviews -->
  <hr>
  <h4>Reviews (<span class="text-success">{{ratings?.approval}}</span>/<span class="text-danger">{{ratings?.disapproval}}</span>)</h4>
  <div>
    <div class="card" *ngFor="let comment of comments">
      <div class="card-block">
        <div class="row" >
          <div><img *ngIf="comment.guest.picture" [src]="comment.guest.picture" class="img-thumbnail rounded-circle"></div>
          <div class="col">
            <ul class="list-unstyled">
            <li><h4>{{comment.guest.name}}</h4></li>
            <li class="lead text-success" [ngClass]="{'text-danger': !comment.approves}">{{comment.title}}</li>
            <li>{{comment.content}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Message dialog after users rent successfully -->
  <ng-template #rentModal>
  <div class="modal-header">
      <h4 class="modal-title">Success!</h4>
    </div>
    <div class="modal-body">
      <p>Your host will be notified shortly.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()">OK</button>
    </div>
  </ng-template>

  <!-- Rate dialog -->
  <ng-template #rateModal>
    <div class="modal-header">
      <h4 class="modal-title">Rate your experience!</h4>
    </div>
    <div class="modal-body">
      <p>Are you satisfied with your stay? Let us know.</p>
      <form [formGroup]="rateForm">
        <ngb-alert type="danger" *ngIf="commentNetworkError"
          [dismissible]="true" (close)="commentNetworkError = false">
          An error has occurred. Please try again.
        </ngb-alert>
        <div class="form-group" [ngClass]="{'has-danger': formErrors.title}">
          <input [ngClass]="{'form-control-danger': formErrors.title}"
            type="text" class="form-control" formControlName="title" placeholder="Title">
          <div class="form-control-feedback" role="alert">
            <span *ngIf="formErrors.title">This field is obligatory.</span><span> </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-danger': formErrors.content}">
          <textarea class="form-control" formControlName="content" maxlength="5000" rows="3" placeholder="Details"></textarea>
          <div class="form-control-feedback" role="alert">
            <span *ngIf="formErrors.content">This field is obligatory.</span><span> </span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="isRating" class="btn btn-secondary" (click)="closeRateDialog()">Cancel</button>
      <button type="button" [disabled]="!rateForm.valid || isRating" class="btn btn-danger" (click)="doRate(false)">✗</button>
      <button type="button" [disabled]="!rateForm.valid || isRating" class="btn btn-success" (click)="doRate(true)">✓</button>
    </div>
  </ng-template>
</div>`

<notfound-section *ngIf="notFound"></notfound-section>
<loading-section *ngIf="loading"></loading-section>
