<div class="container mt-4">
  <div class="row justify-content-md-center">
    <div class="card col-md-8 col-lg-6">
      <div class="card-block">
        <h1>Log into Vietloka</h1>
        <ngb-alert type="danger" *ngIf="networkError" [dismissible]="true" (close)="networkError = false">An error has occurred. Please try again.</ngb-alert>
        <ngb-alert type="danger" *ngIf="invalidCredentials" [dismissible]="true" (close)="invalidCredentials = false">The email or password you have entered is invalid. Please try again.</ngb-alert>
        <form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
          <div class="form-group" [ngClass]="{'has-danger': formErrors.email.length > 0}">
            <input class="form-control" [ngClass]="{'form-control-danger': formErrors.email.length > 0}" type="email" placeholder="Email" formControlName="email">
            <div class="form-control-feedback" role="alert">
                  {{formErrors.email}}
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': formErrors.password.length > 0}">
            <input class="form-control" [ngClass]="{'form-control-danger': formErrors.password.length > 0}" type="password" placeholder="Password" formControlName="password">
            <div class="form-control-feedback" role="alert">
                  {{formErrors.password}}
            </div>
          </div>
          <button class="btn btn-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid || loggingIn">Log in</button>

        </form>
      </div>


    </div>
  </div>
</div>
