<div class="container mt-4">
  

  <div class="card">
    <div class="card-block">
      <div class="card-text text-center">
        <h1>My profile</h1>
        <img *ngIf="user?.picture" [src]="user?.picture" class="img-thumbnail rounded-circle">
        <h2>{{user?.name}}</h2>
        <div>{{user?.email}}</div>
        <div *ngIf="!verified">
          Your account is not verified. To become a verified host or guest, click <a routerLink="/verify">here</a>.
        </div>
        <div *ngIf="verified">
          <div>
          <p>{{user?.name}} at {{user?.email}}</p>
          <p>{{user?.role}}</p>
          <p>{{user?.job}}</p>
          <p>{{user?.placeOfWork}}</p>
          <p>{{user?.phoneNumber}}</p>
          <p>{{user?.identityNumber}}</p>
          <p>{{user?.dateOfBirth}}</p>
          <p>{{user?.gender}}</p>
        </div>
        <button class="btn btn-danger mt-2" (click)="doLogout()">Log out</button>
        <div class="row">
          <ngb-tabset class="mx-auto mt-3">
            <ngb-tab *ngIf="isHost" title="My houses">
              <ng-template ngbTabContent>Not yet implemented.
              </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="isHost" title="My guests">
              <ng-template ngbTabContent>Not yet implemented
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
