<!-- Component for profile page -->

<div class="container mt-4">


  <div class="card">
    <div class="card-block">
      <div class="card-text text-center">

        <!-- Title -->
        <div style="width:100%;background-color:#a5a4a4;padding:5%;padding-top:10%;padding-bottom:0;display:table !important">  
          <div style="background-color:#292b2c;padding:5%;padding-bottom:1%">
            <h1 style="color:#fff">My profile</h1>
            <img *ngIf="user?.picture" [src]="user?.picture" class="img-thumbnail rounded-circle">
            <p style="padding:1%">{{user?.name}}</p>
          </div>
        </div>
        <div style="width:100%;background-color:#292b2c;padding:5%;padding-top:0;padding-bottom:20%">
        <div style="background-color:#a5a4a4;padding:5%;padding-top:0">
          <!-- Navigation link to the verify page if the user hasn't been verified yet -->
          <div *ngIf="!verified" style="padding:2%; color: #fff">
            Your account is not verified. To become a verified host or guest, click <a routerLink="/verify">here</a>.
          </div>

          <!-- Profile tabs -->
          <div class="row" *ngIf="verified">
            <ngb-tabset class="mx-auto mt-3">

            <!-- User Information -->
            <ngb-tab title="About Me">
              <ng-template ngbTabContent>
                <div style="color:#000">
                  <br>
                  <!-- <p>Email: {{user?.email}}</p> -->
                  <p>Gender: {{user?.gender}}</p>
                  <p *ngIf="isHost && isGuest">Role: Host, Guest</p>
                  <p *ngIf="isHost && !isGuest">Role: Host</p>
                  <p *ngIf="!isHost && isGuest">Role: Guest</p>
                  <p>Job: {{user?.job}}</p>
                  <p>Place of Work: {{user?.placeOfWork}}</p>
                  <!-- <p>Phone: {{user?.phoneNumber}}</p>
                  <p>ID: {{user?.identityNumber}}</p> -->
                  <p>Birthday:
                    {{user?.dateOfBirth| date: 'dd'}}/{{user?.dateOfBirth| date: 'MM'}}/{{user?.dateOfBirth| date: 'yyyy'}}
                  </p>
                </div>
              </ng-template>
            </ngb-tab>

              <!-- List of users' houses, if the users are hosts -->
              <ngb-tab *ngIf="isHost" title="My Houses">
                <ng-template ngbTabContent>
                  <br>
                  <div *ngFor="let h of houses">
                    <p><a routerLink="/house/{{h.id}}">{{h.title | uppercase}} at {{h.address}}</a></p>
                  </div>
                </ng-template>
              </ngb-tab>

            <!-- List of guests stayed at users' houses, if the users are hosts -->
            <ngb-tab *ngIf ="isHost" title="My Guests">
              <ng-template ngbTabContent>
                <br>
                <div *ngFor="let r of rents" style="color:#000;cursor:pointer">
                  <a (click)="checkRent(r)">
                    {{r.guest.name | uppercase}},
                     on {{r.createdAt| date: 'dd'}}/{{r.createdAt| date: 'MM'}}/{{r.createdAt| date: 'yyyy'}}
                  </a>
                </div>
              </ng-template>
            </ngb-tab>

            <!-- List of houses users stayed, if the users are guests -->
            <ngb-tab *ngIf="isGuest" title="Where I've Stayed">
              <ng-template ngbTabContent>
                <br>
                <div *ngFor="let r of renteds">
                  <a routerLink="/house/{{r.house._id}}">
                    {{r.house.title | uppercase}} at {{r.house.address}},
                    on {{r.createdAt| date: 'dd'}}/{{r.createdAt| date: 'MM'}}/{{r.createdAt| date: 'yyyy'}}
                  </a>
                </div>
              </ng-template>
            </ngb-tab>

            </ngb-tabset>
          </div>
        </div>
        </div>
        <button class="btn btn-danger mt-2" (click)="doLogout()">Log out</button>
      </div>
    </div>
  </div>

  <!-- Dialog for checking out a stayed guests in user's house -->
  <ng-template #rentdialog>
    <div class="modal-header mx-auto">
      <h4 class="modal-title"><a routerLink="/house/{{selectedRent?.house._id}}">{{selectedRent?.house.title}}</a></h4>
    </div>
    <div class="modal-body">
      <br>
      <p>Name: {{selectedRent?.guest.name}}</p>
      <!-- <p>Email: {{user?.email}}</p> -->
      <p>Gender: {{selectedRent?.guest.gender}}</p>
      <p>Job: {{selectedRent?.guest.job}}</p>
      <p>Place of Work: {{selectedRent?.guest.placeOfWork}}</p>
      <!-- <p>Phone: {{user?.phoneNumber}}</p>
      <p>ID: {{user?.identityNumber}}</p> -->
      <p>Birthday:
        {{selectedRent?.guest.dateOfBirth | date: 'dd'}}/{{selectedRent?.guest.dateOfBirth | date: 'MM'}}/{{selectedRent?.guest.dateOfBirth | date: 'yyyy'}}
      </p>
      <p>To accept this guest, click on the confirmation link in your e-mail.</p>
    </div>
    <div class="modal-footer mx-auto">
      <button type="button" class="btn btn-primary" (click)="modalRef.close()">OK</button>
    </div>
  </ng-template>
</div>
