<div class="container-fluid">
  <div class="container" id="top-form">
    <form #form="ngForm" (ngSubmit)="submitSearch(form.value)">
      <div class="form-group">
        <div class="row">
        <input type="text" class="col form-control" name="query" aria-describedby="helpId" placeholder="Search for a place" [(ngModel)]="query">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </div>
    </form>
  </div>


</div>
<agm-map [zoom]="zoom" [(latitude)]="lat" [(longitude)]="long" [usePanning]="true">
  <agm-marker
    *ngFor="let m of markers; let i=index"
    (markerClick)="clickedMarker(label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng">
  </agm-marker>
  <agm-info-window>
    Hello
  </agm-info-window>
</agm-map>
