<!-- Search component for destination page -->

<div class="container" id="top-form">
  <!-- Search bar -->
  <form [formGroup]="searchForm" (ngSubmit)="submitSearch($event)">
    <div class="form-group">
      <div class="row">
        <input type="text" class="col form-control" formControlName="query"
         required placeholder="Search for a place">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="list-group">
          <a *ngFor="let opt of searchResults" class="list-group-item"
            (click)="chooseAddress(opt.formatted_address)">{{opt.formatted_address}}</a>
        </div>

    </div>
  </form>
</div>

<!-- Map -->
<agm-map [(zoom)]="zoom" [(latitude)]="lat" [(longitude)]="lng" [usePanning]="true">
  <agm-marker
    *ngFor="let h of houses; let i=index"
    [latitude]="h.map.lat"
    [longitude]="h.map.lng">
    <agm-info-window>
      <h4><a routerLink="/house/{{h.id}}">{{h.title}}</a></h4>
      <p>{{h.address}}</p>
      <p>{{h.owner.name}}</p>
    </agm-info-window>
  </agm-marker>
</agm-map>

<loading-section *ngIf="loading"></loading-section>
